/M2/Macaulay2/*/TAGS
/M2/Macaulay2/m2/TAGS.doc
/M2/build-vscode
/M2/BUILD/dan/builds.tmp
/M2/BUILD/frank
/M2/autom4te.cache
/M2/configure
/M2/include/M2/config.h.in
/M2/include/M2/config.h
/M2/include/M2/config.h.in.stamp
/M2/.idea
/M2/tmp
/builds
*~
.DS_Store
.#*
.*.swp
/BUILD
/M2/BUILD

# Archived development artifacts (repo split complete)
# Use dir/* pattern so negation rules for README.md work
/_archive/*
!/_archive/README.md
/M2-Jupyter-Kernel/_archive/*
!/M2-Jupyter-Kernel/_archive/README.md
/M2-Jupyter-Kernel/codemirror-lang-m2/src/_archive/
/M2-Jupyter-Kernel/codemirror-lang-m2/test/_archive/
/M2-Jupyter-Kernel/docs/_archive/

# Untracked development files (canonical versions in split repos)
/M2-Jupyter-Kernel/codemirror-lang-m2/test/baseline_raw.json
/M2-Jupyter-Kernel/codemirror-lang-m2/test/paths.js
/M2-Jupyter-Kernel/codemirror-lang-m2/test/test_triplestring_strict.js
